body {
  background-color: rgba(35, 54, 65, 0.749);
  padding: 5em 2rem;
  .bucket {
    display: flex;

    padding: 5em 2rem;

    .flower-color-1 {
      @include flower-size(2em, 2em, $gray-blue, $light-blue, 5rem);
      position: relative;
      span {
        position: absolute;
        top: 7.5em;
        left: 0.5em;
      }
    }
    .flower-color-2 {
      @include flower-size(5em, 5em, $gray-blue, $light-blue, 2rem);
      position: relative;
      span {
        position: absolute;
        top: 7.5em;
        left: 2em;
      }
    }
    .flower-color-3 {
      @include flower-size(3em, 3em, $gray-blue, $light-blue, 1rem);
      position: relative;
      span {
        position: absolute;
        top: 4.5em;
        left: 1em;
      }
    }
    .flower-color-4 {
      @include flower-size(8em, 8em, $gray-blue, $light-blue, 2em);
      position: relative;
      span {
        position: absolute;
        top: 10.5em;
        left: 3.5em;
      }
    }
    .flower-color-5 {
      @include flower-size(5em, 5em, $gray-blue, $light-blue, 5rem);
      position: relative;
      span {
        position: absolute;
        top: 10.5em;
        left: 2em;
      }
    }
    .flower-color-6 {
      @include flower-size(2em, 2em, $gray-blue, $light-blue, 1rem);
      position: relative;
      span {
        position: absolute;
        top: 3.5em;
        left: 0.5em;
      }
    }
    .flower-color-7 {
      @include flower-size(9em, 9em, $gray-blue, $light-blue, 1rem);
      position: relative;
      span {
        position: absolute;
        top: 10.5em;
        left: 4em;
      }
      animation: spin-left 19s ease-in infinite;
    }
    .flower-color-8 {
      @include flower-size(6em, 6em, $gray-blue, $light-blue, 5rem);
      position: relative;
      span {
        position: absolute;
        top: 11em;
        left: 2em;
      }
    }
  }
}
.flower {
  animation: spin-left 19s ease-in infinite;
  span {
    background: $blue;
    width: 0.3em;
    z-index: 5;
    height: 15em;
    display: block;
    position: absolute;
    &:after {
      content: "";
      width: 3em;
      height: 3em;
      display: block;
      background: darken($blue, 5);
      border-radius: 2em 0em 2em 0em;
      box-shadow: 0 0 0 0.2em darken($dark-blue, 8) inset;
      z-index: 0;
      top: 1em;
      left: 0.4em;
      position: absolute;
    }
    &:before {
      content: "";
      width: 3em;
      height: 3em;
      display: block;
      background: darken($blue, 7);
      border-radius: 0em 2em 0em 2em;
      box-shadow: 0 0 0 0.2em darken($light-blue, 5);
      z-index: 0;
      position: absolute;
      left: -3em;
      top: 5em;
    }
  }
}
